##### 对数据data_01进行分析

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"E:\【ML_DL】\【服装项目】\dataset\data_full\sale\data_01.csv",encoding='utf-8',low_memory=False)

In [3]:
df=df.drop(['Unnamed: 0'],axis=1)

In [4]:
df[:5]

,sale_no,channel_id,sale_price,sku_id,Quantity,sale_date,sale_date_year,sale_date_month
0,KGS0000013,SH01SH07,179.0,0818040230237#0237#00#L,1.0,2008/03/25,2008,3
1,KGS0000013,SH01SH07,299.0,0819050040701#0701#00#XS,1.0,2008/03/25,2008,3
2,KGS0000156,SH01SH07,499.0,0818070021101#1101#32#33,1.0,2008/03/18,2008,3
3,KGS0001723,SH01SH07,92.0,0728040040002#0002#00#L,1.0,2008/03/20,2008,3
4,KGS0001723,SH01SH07,120.0,0728050060310#0310#00#S,1.0,2008/03/20,2008,3

##### channel_id--店铺id

In [5]:
df['channel_id'].value_counts()

EB01SH02    189947
SH01SH05     91338
SH01SH07     90592
GS01SH07     73730
SH01SH36     71503
SH01SH39     66458
SH01SH13     61518
SH01SH38     49990
SH02SH02     48625
SH01SH51     47750
SH02SH05     46757
SH01SH37     45924
SH01SH15     44766
GS01SH09     42801
GS01SH10     40527
SH02SH03     39182
EB01SH01     39005
TJ01SH08     38533
TJ01SH12     36005
SH01SH31     34950
GS01SH08     34091
SH02SH08     33653
SH02SH11     33116
HN01SH02     30010
TJ01SH01     26012
SH01SH50     25668
GS01SH05     25600
SH01SH10     25467
SH01SH56     23375
SH02SH12     23176
             ...
MG01ST02        71
GS01SH42        65
GS01SH41        64
NC01SH71        59
CC01SH50        55
GZ02SH13        52
CC01SH58        51
nc01sh11        50
PS01SH12        42
AAB96           39
JX01SH04        30
TJ01ST03        22
BJ01SH99        22
AH03ST01        20
GX01ST02        17
YN02SH05        17
HB07ST01        12
SH01sh14        10
SH01SH28        10
sh01sh51         9
EB01SH03         5
HB01ST01         5
XJ01ST01         5
nc01sh42         5
ZJ12ST01         4
AAB89            3
HL02ST02         2
sh01SH45         1
EB01SH04         1
sh01sh14         1
Name: channel_id, Length: 638, dtype: int64

##### 一共有638家店铺，接下来需要对每个店铺的数据分布，分别进行销售预测